@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --brand-color: #EF5F4C;
    --background-color: #FFFFFF;
    --surface-color: #F5F5F5;
    --skeleton-color: #D9D9D9;
    --shape-transparency: #C4C4CC;
    --text-color-primary: #313131;
    --text-color-secondary: #6C6C6C;
    --font: "Poppins", sans-serif;
    --line-height: 155%;
    --margin-button: 24px;
    --gap: 24px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: var(--line-height);
    text-decoration: none;
    list-style: none;
    font-family: var(--font);
}

h1{
    font: normal 800 2em var(--font);
    color: var(--text-color-primary);
    margin-bottom: 8px;
}

.paragraph-md{
    font: normal 400 .875em var(--font) var(--text-color-secondary);
}

.paragraph-sm{
    font: normal 400 .74em var(--font);
}

body {
    background-color: var(--background-color);
}

header {
    height: 80px;
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--surface-color);
}

header .nav-itens {
    display: flex;
    align-items: center;
    gap: var(--gap);
}

header .nav-itens a {
    color: var(--text-color-secondary);
    font-weight: 500;
}

header>.nav-itens>img{
    height: 24px;
}

.nav-itens svg {
    width: 24px;
    height: 24px;
    transition: fill 0.3s ease;
}

.nav-itens svg path {
    fill: var(--text-color-secondary);
}

.nav-itens svg:hover path,
.nav-itens>a:hover{
    fill: var(--brand-color);
    color: var(--brand-color);
    cursor: pointer;
    text-decoration: underline;
}
main{
    display: flex;
    grid-template-columns: 75% 25%;
    align-items: center;
    padding: 0 80px;
    justify-content: space-between;
    margin-bottom: var(--margin-button);
    background-color: var(--surface-color);
}

section{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    justify-items: center;
    padding: 0 80px;
    row-gap: 24px;
    margin-bottom: var(--margin-button);
}

.descrition-user{
    display: flex;
    max-width: 630px;
    gap: 32px;
    align-items: center;
}


#info{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 280px;
}

#info>li{
    display: flex;
    gap: 8px;
}
